body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, san-serif;
	background-image: url(images/random_grey_variations.png);	
}

nav {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom: solid 3px #cccccc;
}

.navbar-nav {
	padding-top: 15px;
}

a {
	color: #666666;
}

a:hover {
	color: #4aaaa5;
}

.nav_title {
	font-size: 30px;
	color: white;
	padding: 1%;
	background-color: #4aaaa5;
	text-align: center;
}

.about_box {
	max-width: 48%;
	background-color: #ffffff;
	border: solid 20px #ffffff;
	margin: 3% 0 10%;
}

h1 {
	font-size: 30px;
	color: #4aaaa5;
	border-bottom: solid 3px #cccccc;
}

.image_title {
	font-size: 18px;
	text-align: center;
	background-color: #4aaaa5;
	color: white;
	padding: 18px 0px 18px;
	position: absolute;
	top: 130px;
  	width: 100%;
}

.image_box {
	height: 200px;
  	width: 280px;
  	margin: 3.7px;
	display: inline-block;
	position: relative;
}

.image_thumbnail {
	object-fit: cover;
	object-position: center;
	height: 200px;
  	width: 280px;
	position: relative;
}

.about_pic {
	width: 30%;
	height: 150px;
	float: left;
	margin: 20px 20px 0px 0px;
}

p {
	color: #777777;
	line-height: 30px;	
}

.form-group {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, san-serif;
	font-size: 20px;
	color: #777777;
}

.submit_button {
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	padding: 20px 40px 20px 40px;
	margin-right: 70%;
	margin-top: 10px;
}

h3 {
	margin-bottom: 15%;
	padding-bottom: 8%;
	border-bottom: solid 1px #cccccc;
}

.social_box {
	width: 270px;
	background-color: #ffffff;
	font-size: 25px;
	text-align: center;
	color: #4aaaa5;
	padding-bottom: 2%;
	margin: 3% 0 0 3%;
	border-right: solid 30px #ffffff;
	border-left: solid 30px #ffffff;
}

.github {
	height: 50px;
	width: 50px;
}

.linkedin {
	height: 50px;
	width: 50px;
}

.stackoverflow {
	height: 50px;
	width: 50px;
}

footer {
	text-align: center;
	font-size: 12px;
	background-color: #666666;
	padding: 2% 0;
	border-top: solid 3px #4aaaa5;
	max-width: 100%
}

